html, body {
    height: 100%;
}

body {
    background-color: var(--clr-secondary-400);
    font-family: 'Akshar', sans-serif;
}

button {
    cursor: pointer;
    transition: opacity ease 500ms;
}
button:hover {
    opacity: .7;
}

h1 {
    letter-spacing: .08rem;
    color: var(--clr-primary)
}