@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@400;500&display=swap");
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  border: none;
  width: 100%;
  text-decoration: none;
  outline: none;
  list-style-type: none;
}

* {
  /* Handle */
  /* Handle on hover */
}
*::-webkit-scrollbar {
  width: 7px;
}
*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0.2rem;
}
*::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
}

html, body {
  height: 100vh;
  overflow: hidden;
}

body {
  background-color: #1f96ff;
  font-family: "Akshar", sans-serif;
}

main {
  height: 100%;
  transform: scale(0);
  animation: landing 500ms ease-out forwards;
}

main > * {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}

#loadingWebsite {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 11;
  background-color: #1f96ff;
}
#loadingWebsite button {
  margin-top: 2rem;
  width: fit-content;
}
#loadingWebsite .fade {
  opacity: 1;
  animation: fade 1s ease forwards;
}

@keyframes landing {
  to {
    transform: scale(1.5);
  }
}
@keyframes fade {
  to {
    opacity: 0;
  }
}
.buttons {
  display: flex;
  gap: 2px;
}

button {
  cursor: pointer;
  transition: opacity ease 500ms;
  border-radius: 0.2rem;
  text-transform: uppercase;
}
button:not(.danger) {
  padding: 0.5rem;
  font-weight: 500;
}
button:hover {
  opacity: 0.7;
}

button.danger {
  background-color: transparent;
  color: #c73f00;
  font-size: 0.7rem;
}

#back {
  position: absolute;
  cursor: pointer;
  width: fit-content;
  left: 0;
}
#back p {
  text-transform: uppercase;
  opacity: 0;
  position: absolute;
  color: white;
  letter-spacing: 0.1rem;
  top: 50%;
  padding-bottom: 0.3rem;
  transform: translate(-1rem, -50%);
  animation-duration: 500ms;
  animation-timing-function: ease-out;
  animation-direction: alternate;
}
#back:hover {
  filter: drop-shadow(0 0 0.2rem yellow) drop-shadow(0 0 0.1rem #ffd000);
}
#back:hover p {
  animation-name: playersBack;
  animation-fill-mode: forwards;
}
#back .arrowLayer {
  fill: white;
  stroke: transparent;
  transition: all 500ms ease;
}
#back:hover .arrowLayer {
  fill: transparent;
  stroke: white;
}

h1 {
  letter-spacing: 0.08rem;
  color: white;
  margin-bottom: 1.5rem;
  line-height: 1.6rem;
  position: absolute;
  bottom: 100%;
}

p {
  max-width: 60ch;
}

svg#arrowSVG {
  height: 1.5rem;
  width: 1.5rem;
}
svg#arrowSVG .arrowLayer {
  fill: white;
  stroke: transparent;
  transition: all 500ms ease;
}
svg#arrowSVG:hover .arrowLayer {
  fill: transparent;
  stroke: white;
}
svg#diceSVG, svg#trophySVG {
  stroke-width: 11px;
  height: 100%;
}
svg#diceSVG > *, svg#trophySVG > * {
  cursor: pointer;
}
svg#diceSVG {
  fill: rgba(255, 0, 0, 0.7);
  stroke: red;
  filter: drop-shadow(0 0.2em 1px rgba(0, 0, 0, 0.2)) drop-shadow(0 0.2em 0px red);
}
svg#trophySVG {
  fill: rgba(0, 255, 115, 0.555);
  stroke: #00804b;
  filter: drop-shadow(0 0.2em 1px rgba(0, 0, 0, 0.2)) drop-shadow(0 0.2em 0px #00804b);
}

#flash {
  position: fixed;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  width: fit-content;
  animation: flash 2s ease forwards;
}
#flash.danger {
  background-color: #c73f00;
}

@keyframes flash {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  20%, 80% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
main > .landing ul {
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: white;
}
main > .landing ul li {
  text-align: center;
  cursor: pointer;
  padding: 0.5rem 3rem;
}
main > .landing ul li::before, main > .landing ul li::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main > .landing ul li:hover::before {
  transform: scale(1.05);
}
main > .landing ul li:hover::after {
  opacity: 1;
}
main > .landing ul li:first-child::after {
  border-radius: 0.5rem 0.5rem 0 0;
}
main > .landing ul li:last-child::after {
  border-radius: 0 0 0.5rem 0.5rem;
}
main > .landing ul li::before {
  content: attr(data-after);
  background-color: white;
  transition: transform 500ms ease;
  padding: 0.5rem;
}
main > .landing ul li::after {
  content: "";
  opacity: 0;
  transition: opacity 500ms ease;
  border-inline: 2px #006dcc solid;
}
main > .landing #allPlayers {
  position: absolute;
}

main > .players #back {
  top: -120%;
}
main > .players section {
  margin-bottom: 2rem;
}
main > .players section p {
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
main > .players section input {
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin-bottom: 2px;
}
main > .players #allPlayers {
  overflow: overlay;
  display: grid;
  justify-items: center;
  gap: 0.5rem;
  position: absolute;
  max-height: 20vh;
  overflow-x: auto;
  border-radius: 0.2rem;
}
main > .players #allPlayers li {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.2rem;
}
main > .players #allPlayers p {
  max-width: 100%;
  overflow: hidden;
}

@keyframes playersBack {
  0% {
    opacity: 0;
    transform: translate(0, -50%);
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(1.5rem, -50%);
  }
}
main .gamemode {
  width: 60%;
}
main .gamemode #back {
  top: -100%;
}
main .gamemode .choices p {
  margin-bottom: 1rem;
}
main .gamemode .infos {
  position: absolute;
  top: 100%;
}
main .gamemode .infos > * {
  position: absolute;
  top: 1rem;
  opacity: 0;
  transition: opacity 500ms ease;
  font-size: 0.5rem;
}
main .gamemode .infos > *.show {
  opacity: 1;
}
main .gamemode .infos p .title {
  display: block;
  text-transform: uppercase;
  color: white;
}

@media (min-width: 40em) {
  main .gamemode {
    width: initial;
  }
  main .gamemode .choices p {
    width: 50%;
  }
  main .gamemode .infos > * {
    font-size: 0.8rem;
  }
}
main .game {
  height: 20rem;
  width: 50vw;
  overflow: hidden;
  padding-block: 2rem;
  display: grid;
  align-content: center;
}
main .game::after, main .game::before {
  z-index: 1;
  content: "";
  position: absolute;
  height: 100%;
  width: 30%;
  top: 0;
}
main .game::after {
  left: 0;
  box-shadow: 40px 0 20px -30px #1f96ff inset;
}
main .game::before {
  right: 0;
  box-shadow: -40px 0 20px -30px #1f96ff inset;
}
main .game #loader {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #1f96ff;
}
main .game #loader.end {
  transition: transform 500ms;
  transform: scale(0);
}
main .game #players {
  display: flex;
  gap: 30px;
  height: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0, -50%);
  transition: transform 500ms ease;
}
main .game #players * {
  text-align: center;
}
main .game .card {
  transform: scale(0);
  background-color: white;
  border-radius: 0.2rem;
  padding: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
main .game .card.show {
  animation: show 1s ease forwards;
}
main .game .card.active {
  animation: active 1s ease forwards;
}
main .game .card.slide {
  animation: slide 500ms ease forwards;
}
main .game .card p:last-child::before {
  content: "";
  height: 1rem;
  width: 1rem;
  background-image: url(/assets/img/SVG/trophy.svg);
  position: absolute;
  transform: translate(1rem, 1px);
  background-position: center;
  background-repeat: no-repeat;
  filter: contrast(0);
}

#round {
  position: fixed;
  top: 25vh;
  left: 50%;
}
#round::before {
  z-index: 0;
  content: attr(data-after);
  opacity: 1;
  transition: opacity 500ms ease 1s;
}
#round p {
  z-index: 1;
  opacity: 0;
  color: white;
  transform: translateY(-50%);
  filter: drop-shadow(0 0 0.2rem yellow) drop-shadow(0 0 0.1rem #ffd000);
  animation: roundAdd ease 500ms forwards, roundInstall 500ms ease 500ms forwards;
}
#round p::before {
  content: "+";
}
#round p.lost {
  opacity: 1;
  transform: translateY(0%);
  animation: none;
  transition: all ease 500ms;
  color: #c73f00;
  filter: drop-shadow(0 0 0.2rem #c73f00) drop-shadow(0 0 0.1rem #752500);
}

#controller {
  position: absolute;
  height: 20vh;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 170%);
  width: 30vw;
  transition: transform 700ms ease;
}
#controller.show {
  transform: translate(-50%, 70%);
}
#controller .board {
  height: 40%;
  background-color: #4e4e4e;
  box-shadow: 0 0 0 1px #999999, 0 1px 0 1px dimgray, 0 0.7rem 0 1px #303030, 0 1px 5px 0px rgba(0, 0, 0, 0.2) inset;
  border-radius: 0.2rem;
}
#controller #buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  height: 100%;
}
#controller #buttons > * {
  height: 100%;
}
#controller::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 5%;
  height: 100%;
  background-color: #303030;
  box-shadow: 0 -1px 0 1px #999999, 0 1px 5px 1px rgba(0, 0, 0, 0.2) inset, 0 7rem 5px 1px rgba(0, 0, 0, 0.2) inset;
}

#winner {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(6px);
  padding: 2rem;
}
#winner > * {
  z-index: 1;
  opacity: 0;
  transform: translateY(1rem);
}
#winner h2 {
  animation: winnerText 500ms ease 1s forwards;
  text-align: center;
}
#winner h1 {
  position: relative;
  text-align: center;
  color: white;
  margin: initial;
  line-height: initial;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  width: fit-content;
  padding-inline: 2rem;
  border-radius: 0.2rem;
  margin-block: 1rem;
  animation: winnerText 500ms ease 1500ms forwards;
}
#winner p {
  animation: winnerText 500ms ease 2s forwards;
}
#winner .buttons {
  margin-top: 2rem;
  animation: winnerText 500ms ease 2500ms forwards;
}

@keyframes show {
  0% {
    transform: translateY(100%) scale(1.15);
  }
  50%, 90% {
    transform: translateY(0) scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes active {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.15);
  }
}
@keyframes slide {
  from {
    transform: scale(1.15);
  }
  to {
    transform: scale(1);
  }
}
@keyframes winnerText {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes roundAdd {
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes roundInstall {
  to {
    color: initial;
    filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0)) drop-shadow(0 0 0.1rem rgba(0, 0, 0, 0));
  }
}

/*# sourceMappingURL=style.css.map */
