@use '../libs' as *;


main .game {
    height: 20rem;
    width: 50vw;
    overflow: hidden;
    padding-block: 2rem;
    display: grid;
    align-content: center;

    &::after,
    &::before {
        z-index: 1;
        content: '';
        position: absolute;
        height: 100%;
        width: 30%;
        top: 0;
    }

    &::after {
        left: 0;
        box-shadow: 40px 0 20px -30px $clr-secondary-400 inset;
    }

    &::before {
        right: 0;
        box-shadow: -40px 0 20px -30px $clr-secondary-400 inset;
    }

    #loader {
        position: fixed;
        height: 100%; width: 100%;
        top: 0; left: 0;
        z-index: 10;
        background-color: $clr-secondary-400;

        &.end {
            transition: transform 500ms;
            transform: scale(0);
        }
    }

    #players {
        display: flex;
        gap: 30px;
        height: 70%;
        
        position: absolute;
        left: 40%;
        top: 50%;
        transform: translate(0, -50%);

        transition: transform 500ms ease;

        & * {
            text-align: center;
        }
    }

    .card {
        transform: scale(0);
        background-color: $clr-primary;
        border-radius: 0.2rem;
        padding: 3rem;
        width: 70%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        &.show {
            animation: show 1s ease forwards;
        }

        &.active {
            animation: active 1s ease forwards;
        }
    }
}

#controller {
    position: absolute;
    height: 20vh;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 170%);
    width: 30vw;
    transition: transform 700ms ease;

    &.show {    
        transform: translate(-50%, 70%);
    }

    .board {
        height: 40%;
        background-color: rgb(78, 78, 78);
        box-shadow: 
            0 0 0 1px rgb(153, 153, 153),
            0 1px 0 1px rgb(105, 105, 105),
            0 .7rem 0 1px rgb(48, 48, 48),
            0 1px 5px 0+px rgba($color: #000000, $alpha: .2) inset;
        border-radius: .2rem;
    }

    #buttons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
        height: 100%;

        & > * {
            height: 100%;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 5px; left: 50%;
        transform: translateX(-50%);
        width: 5%; height: 100%;
        background-color: rgb(48, 48, 48);
        
        box-shadow: 
            0 -1px 0 1px rgb(153, 153, 153),
            0 1px 5px 1px rgba(0, 0, 0, 0.2) inset,
            0 7rem 5px 1px rgba(0, 0, 0, 0.2) inset;
    }
}



@keyframes show {
    0% {
        transform: translateY(100%) scale(1.15);
    }
    50%,
    90% {
        transform: translateY(0) scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes active {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.15);
    }
}