@use '../libs' as *;


main .game {
    height: 20rem;
    width: 100vw;
    overflow: hidden;
    padding-block: 2rem;
    display: grid;
    align-content: center;

    &::after,
    &::before {
        z-index: 1;
        content: '';
        position: absolute;
        height: 100%;
        width: 30%;
        top: 0;
    }

    &::after {
        left: 0;
        box-shadow: 40px 0 20px -30px $clr-secondary-400 inset;
    }

    &::before {
        right: 0;
        box-shadow: -40px 0 20px -30px $clr-secondary-400 inset;
    }

    #loader {
        position: fixed;
        height: 100%; width: 100%;
        top: 0; left: 0;
        z-index: 10;
        background-color: $clr-secondary-400;

        &.end {
            transition: transform 500ms;
            transform: scale(0);
        }
    }

    #players {
        display: flex;
        gap: 30px;
        height: 70%;
        
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(0, -50%);

        transition: transform 500ms ease;

        & * {
            text-align: center;
        }
    }

    .card {
        transform: scale(0);
        background-color: $clr-primary;
        border-radius: 0.2rem;
        padding: 3rem;
        // width: 70%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        &.show {
            animation: show 1s ease forwards;
        }

        &.active {
            animation: active 1s ease forwards;
        }

        &.slide {
            animation: slide 500ms ease forwards;
        }

        p:last-child::before {
            content: '';
            height: 1rem;
            width: 1rem;
            background-image: url(../medias/SVG/trophy.svg);
            position: absolute;
            transform: translate(1rem, 1px);
            background-position: center;
            background-repeat: no-repeat;
            filter: contrast(0);
        }
    }
}

#round {
    position: fixed;
    left: 50%;

    &::before {
        z-index: 0;
        content: attr(data-after);
        opacity: 1;
        transition: opacity 500ms ease 1s;
    }

    p {
        z-index: 1;
        opacity: 0;
        color: white;
        transform: translateY(-50%);
        filter: drop-shadow(0 0 .2rem hsl(60, 100%, 50%)) drop-shadow(0 0 .1rem hsl(49, 100%, 50%));
        animation: roundAdd ease 500ms forwards, roundInstall 500ms ease 500ms forwards;
        &::before {
            content: '+';
        }
        
        &.lost {
            opacity: 1;
            transform: translateY(0%);
            animation: none;
            transition: all ease 500ms;
            color: $clr-danger-400;
            filter: drop-shadow(0 0 .2rem $clr-danger-400) drop-shadow(0 0 .1rem $clr-danger-500);
        }
    }
}

#controller {
    position: absolute;
    height: 20vh;
    bottom: 0;
    top: initial;
    left: 50%;
    transform: translate(-50%, 170%);
    width: 30vw;
    transition: transform 700ms ease;

    &.show {    
        transform: translateX(-50%);
    }

    .board {
        height: 60%;
        width: 50vw;
        background-color: #4e4e4e;
        box-shadow:
            0 0 0 1px #999999,
            0 1px 0 1px dimgrey,
            0 0.7rem 0 1px #303030,
            0 1px 5px 0px rgb(0 0 0 / 20%) inset;
        border-radius: 0.2rem;
        left: 50%;
        transform: translateX(-50%);
    }

    #buttons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
        height: 100%;
        padding: 0.5rem;

        & > * {
            height: 100%;
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        width: 5%;
        height: 100%;
        background-color: #303030;
        box-shadow:
            0 -1px 0 1px #999999,
            0 1px 5px 1px rgb(0 0 0 / 20%) inset,
            0 7rem 5px 1px rgb(0 0 0 / 20%) inset
    }
}

#winner {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(6px);
    padding: 2rem;

    & > * {
        z-index: 1;
        opacity: 0;
        transform: translateY(1rem);
    }

    h2 {
        animation: winnerText 500ms ease 1s forwards;
        text-align: center;
    }

    h1 {
        position: relative;
        text-align: center;
        color: white;
        margin: initial;
        line-height: initial;
        bottom: 0;
        background: rgba(0,0,0,.2);
        width: fit-content;
        padding-inline: 2rem;
        border-radius: .2rem;
        margin-block: 1rem;

        animation: winnerText 500ms ease 1500ms forwards;
    }

    p {
        animation: winnerText 500ms ease 2s forwards;
    }

    .buttons {
        margin-top: 2rem;
        animation: winnerText 500ms ease 2500ms forwards;
    }
}


@keyframes show {
    0% {
        transform: translateY(100%) scale(1.15);
    }
    50%,
    90% {
        transform: translateY(0) scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes active {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.15);
    }
}

@keyframes slide {
    from {
        transform: scale(1.15);
    }
    to {
        transform: scale(1);
    }
}

@keyframes winnerText {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes roundAdd {
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes roundInstall {
    to {
        color: initial;
        filter: drop-shadow(0 0 .2rem rgba(0,0,0,0)) drop-shadow(0 0 .1rem rgba(0,0,0,0));
    }
}

@media (min-width: 40em) {
    main .game {
        width: 50vw;
    }

    #round {    
        top: 25vh;
    }

    #winner {
        p {
            width: 60ch;
        }

        .buttons {
            width: 40%;
        }
    }
}