@use '../libs' as *;


main .gamemode {
    width: 60%;

    #back {
        top: -100%;
    }

    .choices p {
        margin-bottom: 1rem;
    }
    
    .infos {
        position: absolute;
        top: 100%;

        & >  * {
            position: absolute;
            top: 1rem;
            opacity: 0;
            transition: opacity 500ms ease;
            font-size: .5rem;
    
            &.show {
                opacity: 1;
            }
        }

        p {
            .title {
                display: block;
                text-transform: uppercase;
                color: $clr-primary;
            }
        }
    }
}

@media (min-width: 40em) {
    main .gamemode {
        width: initial;

        .choices p {
            width: 50%;
        }

        .infos > * {
            font-size: .8rem;
        }
    }
}