@use '../libs' as *;


main .gamemode {
    .choices p {
        margin-bottom: 1rem;
    }
    
    .infos {
        position: absolute;
        top: 100%;
        left: 0;

        & >  * {
            position: absolute;
            opacity: 0;
            transition: opacity 500ms ease;
            font-size: .8rem;
            padding-inline: 2rem;
    
            &.show {
                opacity: 1;
            }
        }

        p {
            .title {
                display: block;
                text-transform: uppercase;
                color: $clr-primary;
            }
        }
    }
}

@media (min-width: 40em) {
    main .gamemode {
        width: initial;

        .choices p {
            width: 50%;
        }
    }
}