@use '../libs' as *;

main {
    height: 100%;
}

main > * {

    &.landing,
    &.players,
    &.game {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    padding: 2rem;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 90%);
    width: fit-content;
}

#loadingWebsite {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 11;
    background-color: $clr-secondary-400;

    button {
        margin-top: 2rem;
        width: fit-content;
    }

    .fade {
        opacity: 1;
        animation: fade 1s ease forwards;
    }
}

@keyframes fade {
    to {
        opacity: 0;
    }
}


@media (min-width: 40em) {
    main > * {  
        top: 50%;
        transform: translate(-50%, -50%);
    }
}