@use '../libs' as *;

main {
    height: 100%;
    transform: scale(0);
    animation: landing 500ms ease-out forwards;
}

main > * {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}

#loadingWebsite {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 11;
    background-color: $clr-secondary-400;

    button {
        margin-top: 2rem;
        width: fit-content;
    }

    .fade {
        opacity: 1;
        animation: fade 1s ease forwards;
    }
}


@keyframes landing {
    to {
        transform: scale(1.5);
    }
}

@keyframes fade {
    to {
        opacity: 0;
    }
}